<%= content_tag :li, id: "bookmark-#{bookmark.id}", class: "bookmark" do %>
  <%= link_to bookmark.url, bookmark.url %>
  <div class='pull-right bookmark-actions'>
    <% if policy(bookmark).destroy? %>
      <%= link_to bookmark_path(bookmark), method: :delete, remote: true, class: 'btn btn-primary btn-sm' do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    <% end %>
    <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
  </div>
<% end %>