<% if @bookmark.destroyed? %>
   $('#bookmark-' +<%= @bookmark.id %>).fadeOut(1000);
 <% else %>
   $('#bookmark-' +<%= @bookmark.id %>).prepend("<div class='alert alert-danger'><%= flash[:error] %></div>");
 <% end %>