<h1>BlocMarks</h1>

fix flash messages
does authorize @like in controller remove likes from views
center like and delete buttons
center allign invididual elements in views
flash messages correspond to flash messages in views/layouts?
review destory with ajax change
